#syg-historic-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    #syg-historic-content{
        grid-column: 1/-1;
        grid-row: 3/-1;
        margin-top: 1em;
        background-color: #ffffff;
        border-radius: 1em;
        padding: 3em;
        display: flex;
        flex-direction: column;
        #syg-historic-user-name{
            font-size: 2em;
            margin-bottom: 4em;
        }
        #syg-historic-user-info{
            display: flex;
            justify-content: space-around;
        }
    }
}