#syg-container{
    min-height: 93vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(10, 2fr);
    grid-template-rows: repeat(12, 1fr);
    #syg-content-container{
        margin: 1em 0 0 1em;
        grid-column: 3/-1;
        grid-row: 3/-1;

        background-color: #ffffff;
    }
}