#syg-container{
    padding: 1.5em;
    background-color: #f0eeee;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(10, 2fr);
    grid-template-rows: repeat(12, 1fr);
    height: 94.5vh;
    #syg-content-container{
        margin-left:  1em;
        grid-column: 3/-1;
        grid-row: 1/-1;
    }
} 