#syg-home-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    #syg-home-content{
        background-color: #ffffff;
        margin-top: 2em;
        grid-column: 1/-1;
        grid-row: 3/-1;
    }
}