#syg-game-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    #syg-game-content {
        grid-column: 1/-1;
        grid-row: 3/-1;
        margin-top: 1em;
        background-color: #ffffff;
        border-radius: 1em;
        padding: 3em;
        display: flex;
        justify-content: center;
        #syg-game-content-start-game{
            display: flex;
            flex-direction: column;
            width: 80%;
            #syg-game-content-start-game-options{
                display: flex;
                flex-wrap: wrap;
                margin-top: 4em;
                gap: 5%;
                .syg-game-start-game-button{
                    width: 30%;
                    padding: 2em 1em;
                    background-color: #0B6BCB;
                    border-radius: 1em;
                    color: #ffffff;
                    margin-bottom: 3em;
                }
            }
        }
        .syg-game-question-content{
            display: flex;
            flex-direction: column;
            width: 80%;
            .syg-game-question-time-limit{
                margin-bottom: 3em;
                p{
                    z-index: 10;
                    color: #000000;
                }
            }
            .syg-game-question-title{
                font-size: 2em;
                text-align: center;

            }
            .syg-game-question-answers-content{
                display: flex;
                flex-wrap: wrap;
                gap: 5%;
                margin-top: 5em;
                .syg-game-question-answer{
                    width: 47.5%;
                    margin-bottom: 3em;
                    padding: 2em 1em;
                    color: #ffffff;
                    border-radius: 1em;
                    &.answer-number-0{
                        background-color: #E21B3C;
                    }
                    &.answer-number-1{
                        background-color: #D89E00;
                    }
                    &.answer-number-2{
                        background-color: #26890B;
                    }
                    &.answer-number-3{
                        background-color: #0B6BCB;
                    }
                }
            }
        }
        #syg-game-finish{
            display: flex;
            flex-direction: column;
            width: 80%;
        }
    }
}